<p id="notice"><%= notice %></p>

<div class="mx-aut">
  <div class="row row-cols-3">
      <% @articles.each do |article| %>
      <div class="col">
        <div class=" row">
        <div class="pl-2">
            <%= article.title %>
            </div>
            <% if article.article_photo.attached?%>
            <%= image_tag article.article_photo, width:"250", height:"250" %>
            <% end %>
            <div class="card-body text-white">
              <%= article.body %>
              <%= article.category.name %>
              <%= article.user.email %>
              <%= link_to 'Show', article %>
              <%= link_to 'Edit', edit_article_path(article) %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Category', new_category_path %>