<p id="notice"><%= notice %></p>

<div class="col-4 g-0 mx-auto">
<div class="d-flex justify-content-center">
  <div class=""> <p>
      <% if @article.article_photo.attached?%>
      <%= image_tag @article.article_photo, width:"200", height:"200" %>
      <% end %>
</p></div>
<div class="px-4">
  <div class=""><p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>



<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.user.email%>
</p>

</div>

<div>  
    <div class='article-voting'>
      <span class="">
        <p class=""> voted by:
        <%= link_to @article.user.email %>
        </p>
      </span>
      <span class='article-date'> <%= @article.created_at.strftime("%Y/%m/%d") %> </span>
      <%= vote_or_disvote_btn(@article) %>
      <%= @article.votes.count %>

      
  </div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
  </div>
  </div>
  
</div>
</div>
