<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

 <p>
      <% if @article.article_photo.attached?%>
      <%= image_tag @article.article_photo, width:"300", height:"300" %>
      <% end %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.user.email%>
</p>

<div>
   
    <div class='article-voting'>
      <span class='article-date'> <%= @article.created_at.strftime("%Y/%m/%d") %> </span>
      <%= vote_or_disvote_btn(@article) %>
    </div>
  </div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
