
  <% popular = Vote.popular %>
  <% popular.each do |vote| %>
   
    <p class="text-danger text-decoration-none px-5 fs-3 fw-bolder text-uppercase ">
      Most Voted Article: <%= vote.article.title %>
    </p>
    <%= image_tag vote.article.article_photo, class:"photo"%>
  <% end %>



<div class="cat-table bg-white p-5 ml-0">
<h1 class="text-danger">Categories</h1>


<div class="container">
  <div class="row row row-cols-3">
      <% Category.all.each do |cat| %>
      <div class="card col-3">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" style="width: 200px; height: 150px">
        <%= link_to cat.name, articles_path(category: cat.name) %>  

      </div>

      <% end %>
  </div>

</div>



<br>

<%= link_to 'New Category', new_category_path %>

<%= link_to 'New Article', new_article_path %>

</div>
