
  <% popular = Vote.popular %>
  <% popular.each do |vote| %>
   
    <p class="f-text text-decoration-none mx-5 px-2 fs-4 fw-bolder text-uppercase ">
      Most Voted Article: <%= vote.article.title %>
    </p>
    <%= image_tag vote.article.article_photo, class:"photo"%>
  <% end %>



<div class="cat-table b-color px-5 ml-0">
<h1 class="f-text fw-bolder">CATEGORIES</h1>


<div class="">
  <div class="row row row-cols-4">
      <% Category.all.each do |cat| %>
      
      <div class="b-color">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="" style="width: 260px; height: 250px">
        
        <%= link_to cat.name, articles_path(category: cat.name), class: "fs-5 fw-bolder text-decoration-none" %> 
      </div>

      <% end %>
  </div>

</div>



<br>
<br>
<br>
<%= link_to 'New Category', new_category_path, class: "btn btn-light" %>

<%= link_to 'New Article', new_article_path, class: "btn btn-light" %>

</div>
